{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- <section class="page-wrapper">
  <div class="container">
    <div class="row">
        {{ .Content }}
    </div>
  </div>
</section> -->


{{ with .Params.staff }}
{{ if .enable }}
<section class="aabout ssection">
  <div class="container">

    {{ with .sections }}
    <div class="row">
      {{ with .heads }}
        {{ with .title }}
          <h2>{{ . }}</h2>
        {{ end }}
        {{ range $index, $element := .items }}
        {{ partial "partials/staff_item.html" . }}
        {{ end }}
      {{ end }}
    </div>

    <div class="row">
      {{ with .key_executors }}
        {{ with .title }}
          <h2>{{ . }}</h2>
        {{ end }}
        {{ range $index, $element := .items }}
        {{ partial "partials/staff_item.html" . }}
        {{ end }}
      {{ end }}
    </div>


    <div class="row">
      {{ with .doctors }}
        {{ with .title }}
          <h2>{{ . }}</h2>
        {{ end }}
        <ul style="padding: 20px 20px 20px 20px;">
          {{ range $index, $element := .items }}
            {{ with .name }}<li><h4 class="">{{ . }}</h4></li>{{ end }}
          {{ end }}
        </ul>
      {{ end }}
    </div>

    <div class="row">
      {{ with .candidates }}
        {{ with .title }}
          <h2>{{ . }}</h2>
        {{ end }}
        <ul style="padding: 20px 20px 20px 20px;">
          {{ range $index, $element := .items }}
            {{ with .name }}<li><h4 class="">{{ . }}</h4></li>{{ end }}
          {{ end }}
        </ul>
      {{ end }}
    </div>

    <div class="row">
      {{ with .executors }}
        {{ with .title }}
          <h2>{{ . }}</h2>
        {{ end }}
        <ul style="padding: 20px 20px 20px 20px;">
          {{ range $index, $element := .items }}
            {{ with .name }}<li><h4 class="">{{ . }}</h4></li>{{ end }}
          {{ end }}
        </ul>
      {{ end }}
    </div>

    <div class="row">
      {{ with .graduates }}
        {{ with .title }}
          <h2>{{ . }}</h2>
        {{ end }}
        <ul style="padding: 20px 20px 20px 20px;">
          {{ range $index, $element := .items }}
            {{ with .name }}<li><h4 class="">{{ . }}</h4></li>{{ end }}
          {{ end }}
        </ul>
      {{ end }}
    </div>

    <div class="row">
      {{ with .students }}
        {{ with .title }}
          <h2>{{ . }}</h2>
        {{ end }}
        <ul style="padding: 20px 20px 20px 20px;">
          {{ range $index, $element := .items }}
            {{ with .name }}<li><h4 class="">{{ . }}</h4></li>{{ end }}
          {{ end }}
        </ul>
      {{ end }}
    </div>



    {{ end }}

  </div>
</section>
{{ end }}
{{ end }}



<!-- {{ with .Params.features }}
{{ if .enable }}
<section class="about-feature bg-dark section dark-service">
  <div class="container">
    {{ with .title }}
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h2>{{ . | markdownify }}</h2>
        </div>
      </div>
    </div>
    {{ end }}
    <div class="row">
      {{ range .feature_item }}
      <div class="col-md-4">
        <div class="service-item">
          {{ with .icon }}<i class="{{ . }}"></i>{{ end }}
          {{ with .name }}<h4>{{ . | markdownify }}</h4>{{ end }}
          {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }} -->



<section class="page-wrapper">
  <div class="container">
    <div class="row">
        {{ .Content }}
    </div>
  </div>
</section>




{{ end }}

